@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --text-color: #fff;

  --primary-color: #065E7C;
  --seconday-color: #06181C;
  --dark-green: #092D38;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #000;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 1120px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  width: 462px;
  background-color: var(--seconday-color);
  height: 4.8rem;
  border: none;
  border-radius: .4rem;
  padding: 1.6rem;
  margin-right: 1rem;
}

.search button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;

  background-color: var(--primary-color);
  border-radius:.4rem;
  height: 4.8rem;
  border: none;

  padding: 1.2rem 3.2rem;

  cursor: pointer;
}

.search button svg {
  width: 20px;
  margin-right: .6rem;
  fill: #fff ;
}

.search button:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
}

.search button:hover svg{
  fill: #065E7C !important;
}

.table-wrapper {
  margin-top: 60px;
  border: 1px solid #4A808C;
  max-height: 580px;
  overflow: scroll;
  border-radius: 1.2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background: var(--dark-green);
  text-align: left;
  font-weight: normal;
  padding: 2.2rem;
  
}

table th:first-child {
  border-top-left-radius: 1.2rem;
}

table th:last-child {
  border-top-right-radius: 1.2rem;
}

table tr {
  border-bottom: 1px solid #4A808C;
  padding: 2.2rem;
}

table tr:nth-child(even) {
  background: rgba(6, 22, 27, 50%);
  
}

table tr:nth-child(odd) {
  background: #06181C;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}


td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;

  color: red;
  cursor: pointer;
}

.no-favs {
  display: flex;
  background: rgba(6, 22, 27, 50%);
  align-items: center;
  justify-content: center;
  color:#4E5455;
  height: 400px;
}

.hide {
  display: none !important;
}

.no-favs h3{
  font-family: "Roboto Mono", monospace;
  margin-left: 2rem;
  font-size: 4rem;
}

.no-favs img {
  width:120px;
}
